.user-navbar {
  width: 200px;
  height: 100vh;
  background-color: #262626;

  .all-task {
    text-align: center;
    cursor: pointer;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-size: 25px;
      color: #bbbbbb;
      padding: 25px 0;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;

    &:hover {
      background-color: grey;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .user-avatar {
      width: 40px;
      height: 40px;
      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 0 15px 0 20px;

      img {
        object-fit: cover;
        transform: scale(0.25);
      }
    }

    .user-name {
      color: #bbbbbb;
      font-size: 20px;
    }
  }

  .active {
    a {
      color: white;
      font-weight: bold;

      .user-name {
        color: white;
        font-weight: bold;
      }
    }
  }
}