.time-progress-bar {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // height: 20px;
  padding-bottom: 15px;

  .time-label {
    font-size: 12px;
    text-align: right;
    padding: 5px 0;
  }
  
  .progress-bar-content {
    display: flex;

    .title {
      width: 80px;
      text-align: right;
      padding-right: 10px;
    }

    .container {
      width: calc(100% - 80px);
      height: 20px;
      background-color: #dedede;
      border: 1px solid #dddddd;
      border-radius: 5px;
      
      .fill-content {
        display: flex;
        height: 100%;
        border: 1px solid #3f7506;
        background: #3a8104 50% 50% repeat-x;
        border-radius: 5px;
        margin-top: -1px;
        margin-left: -1px;
      }
    }
    
    .percent-value {
      width: 80px;
      padding: 0 0px 0 20px;
      text-align: center;
    }
  }

}